*{
    text-decoration: none;
}

body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 67px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background: #C3CFD9;
}

header h1{
    font-size: 34px;
    color: #E8833A;
}

.content-home, .content-filme, .content-sessao ,.content-sucesso{
    margin-top: 70px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 24px;
    color: #293845;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movie{
    padding: 8px;
    box-sizing: border-box;
}

.movie img{ 
    width: 129px;
    height: 193px;
}
.sessao{
    padding: 20px;
}

.sessao .titulo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sessao .horarios{
    display: flex;
}

.sessao .horario{
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.sessao .horario h1{
    color: #FFFFFF;
    text-decoration: none;
}

.content-sessao{
    align-items: center;
}

.assentos{
    width: 330px;
    display: flex;
    flex-wrap: wrap;
}

.assento{
    margin: 9px 3px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background:#C3CFD9;
    border: 1px solid #808F9D;
}

.legendas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.legenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.selecionado, .disponivel, .indisponivel{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.selecionado{
    background: #8DD7CF;
    border: 1px solid #1AAE9E
}

.disponivel{
    background: #C3CFD9;
    border: 1px solid #7B8B99;
}

.indisponivel{
    background: #FBE192;
    border: 1px solid #F7C52B;
}

.inputs{
    margin-top: 40px;
}

.inputs p{
    text-align: left;
    font-size: 18px;
}

input{
    width: 327px;
    height: 51px;
    margin-bottom: 7px;
    margin-top: 2px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
}

input::placeholder{
    color: #AFAFAF;
    font-size: 18px;
    align-items: center;
    font-style: italic;
}

.sucesso-titulo{
    color: #247A6B;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultados h1{
    color: #293845;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}